<ng-container [ngSwitch]="mode">

  <div *ngSwitchDefault>
    <dl>
      <dt [title]="playlist.name">Name:</dt>
      <dd [appHighlight]="playlist.color"> {{playlist.name}} </dd>

      <dt>Favourite</dt>
      <dd [style.font-size.px]="22">
        {{ playlist.favourite? 'Yes' : 'No'}}
      </dd>

      <dt>Color:</dt>
      <dd [style.background-color]="playlist.color" 
      
      style="color:#fff">
        {{playlist.color}}
      </dd>
    </dl>
    <input type="button" value="Edit" class="btn btn-info" (click)="edit()">
  </div>


  <form *ngSwitchCase=" 'edit' " #formRef="ngForm" (ngSubmit)="save(formRef)">
    <div class=" form-group ">
      <label>Name</label>
      <input type="text " class="form-control " [ngModel]="playlist.name" name="name" #nameRef="ngModel">
    </div>

    <div class="form-group ">
      <label>Favourite</label>
      <input type="checkbox" [ngModel]="playlist.favourite" name="favourite">
    </div>

    <div class="form-group ">
      <label>Color</label>
      <input type="color" [ngModel]="playlist.color" name="color">
    </div>
    <input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()">
    <input type="submit" value="Save" class="btn btn-success">
  </form>


</ng-container>
