<div class="form-group mb-3" [formGroup]="searchForm">

  <input type="text" class="form-control" placeholder="Search" formControlName="query">


  <ng-container *ngIf="searchForm.get('query') as queryField">
    <div *ngIf="queryField.touched || queryField.dirty">
      <div *ngIf="queryField.hasError('required')">
        Field is required
      </div>

      <div *ngIf="queryField.getError('minlength') as error">
        Minimal query length is {{error.requiredLength}}
      </div>

      <div *ngIf="queryField.getError('censor') as error">
        Cannot use bad words like "{{error}}"
      </div>
    </div>
  </ng-container>

</div>
