<!-- 
  .row*2>.col
 -->

<div class="row">
  <div class="col">
    <app-search-form (queryChange)="search($event)" [query]="query$ | async">
    </app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="alert alert-danger" *ngIf="message">
      {{ message }}
    </div>
<!-- 
    {{ (albums$ | async).length }} -->

    
    {{ albumCount  }} results found

    <app-albums-grid [albums]="albums$ | async">
    </app-albums-grid>

  </div>
</div>
