<div class="" [ngStyle]="{
  'display': open? 'block' : 'none' 
}" tabindex="-1" role="dialog">
  <div class="modal-dialog" #dialogModal role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{title}}
        </h5>
        <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <ng-content select="app-modal-footer"></ng-content>

    </div>
  </div>
</div>
