<!-- 

    (mouseenter)="hover = playlist"
    (mouseleave)="hover = null"
    [style.border-left-color]="playlist == hover? playlist.color : 'black'"
  -->

<div class="list-group">

  <div *ngFor="let playlist of playlists; index as i; trackBy trackFn" 
    (click)="select(playlist)" 
    [class.active]=" playlist == selected "
    class="list-group-item list-group-item-action"
    [appHighlight]="playlist.color">
    {{i+1}}. {{playlist.name}}
  </div>

</div>


{{selected?.name}}
