:host(.selected) {
  display: block;
  border: 1px solid black;
}

:host-context(.compact-theme) p {
  color: hotpink;
}

/* :host ::ng-deep  p {
  color: blue;
}
 */

.list-group-item {
  border-left: 10px solid;
}
