<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" 
    routerLinkActive="active" 
    routerLink="" 
    #rla="routerLinkActive"
    [routerLinkActiveOptions]="{exact:true}">Music App</a>

    <!-- {{rla.isActive}} -->
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="placki active" routerLink="music">Music</a>
        </li>

        <li class="nav-item" routerLinkActive="placki active">
          <a class="nav-link" routerLink="playlists">Playlists</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
