<div *ngIf="album" class="row">
  <div class="col">
    <app-album-item [album]="album"></app-album-item>


  </div>
  <div class="col">
    <app-album-details [album]="album"></app-album-details>


    <audio #player controls="true" class="w-100" [src]="track?.preview_url">

    </audio>

    <app-items-list [items]="album.tracks.items"
     [selected]="track" (selectedChange)="track = $event;">

    </app-items-list>


  </div>


</div>
