<div class="row">
  <div class="col">
    <app-items-list [items]="playlists | async"
     [selected]="selected$ | async"
     (selectedChange)="select($event)">

    </app-items-list>


  </div>
  <div class="col">
    <app-playlist-details 
      *ngIf="(selected$ | async) as selected; else notSelected" 
      [playlist]="selected" 
      (playlistChange)="save($event)">

    </app-playlist-details>

    <ng-template #notSelected>
      <p>Please select Playlist</p>
    </ng-template>
  </div>
</div>
